a{
    text-decoration: none;
    color: #483c3c;
    cursor: pointer;
    font-size: 18px;

}
a:hover{
    color:rgb(189, 110, 41); ;
}
ul{
    float: right;

}
.shihab{
display: inline-block;
margin: 30px;


}
.logo{
    float: left;
    width: 9%;
    margin-left: 5%;
    height: 90px;

}


header{
    background-color: white;
    z-index: 9999;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 94px;
/* border-bottom:1px solid gray; */
}
ul{
    /* margin: auto; */
    margin-right: 6%;


}
#mainH1{
    font-size: 40px;
    text-align: center;
    margin-top: 9%;

}

hr {
    background-color: #fff;
    padding: 0;
    width: 89%;
    margin: 75px auto;
  }
  
hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  article#yarsCart {
    margin-top: 118px;
}

/* 
footer{
    position: absolute;
    width: 88%;
    height: 25%;
    background-color: #3c3b57;

    
}

.footer{
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: inline-block;

}
.about{
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 33%;
    height: 100%;
    margin-top: 2%;

}

.headerAbout{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    line-height: 1.5;
}
.quickFooter{
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 33%;
    height: 100%;
    left: 30%;
    margin: 35px 0 0 0 ;
    
}
.quick{
    text-align: center;
    text-align: center;
    line-height: 1.5;
    color: aliceblue;
    font-family: 'Cormorant Garamond', serif;
}

.contactUs{
    left: 60%;
    margin: 35px 0 0 0;
    box-sizing: border-box;
    border-radius: 50%;
    color: aliceblue;
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 33%;
    height: 100%;

}
.conHeader{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: aliceblue;
}
footer a {
    color: white;
}
.ulFooter{
    margin-right: 48%;
    margin-top: 3%;
} */

footer {
    background-color: #3C3B57;
    height: 200px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;

}
footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

footer div div{
    margin: 20px;
    text-align: justify;
    display: block;
    width: 28%;
}

h6 {
    text-decoration: underline;
    text-align: center;
    margin: 10px auto;
    color: white;
}
.link{
    color: white;
}
.link p, a{
    text-align: center;
    font-size: 20px;
}
footer p{
    text-align: center;
}


.social{
    text-align: center;
    color: white;  
    margin: 5px;
}


