@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
:root{
    --font-color: rgb(243, 145, 59);
    --border-color: #E9C47D;
}
img {
    width: 200px;
    height: 300px;
    margin: auto;
    padding: 16px 4px 0px 4px;
}

.hide {
    display: none;}
.show {
    display: block;
} 



.hideVisibility{
    visibility: hidden;
}
#h2modal {
        text-align: center;
        padding: 17px 0 7px 0;
        font-size: 33px;
        color: black;
        position: sticky;
        z-index: 50;
        background-color: var(--border-color);
}
img#reload {
    text-align: center;
    margin: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80%;
    top: 51%;
}


.modal-header {
    padding: 2px 16px;
    background-color: var(--border-color);
    color: white;
  }
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
     overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    z-index: +555;
    
  }

  .modal-body {    padding: 15px 0 3px 17px;}
  
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

button#ok {
    margin-bottom: 6px;
}
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid var(--border-color);
    width: 39%;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
  }
  

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  /*draw the background*/
    div#container {
        position: absolute;
        width: 60%;
        display: inline-flex;
        height: 650px;
        top: 42%;
        left: 2%;
        background-color: #4f6d78;
        flex-wrap: wrap;
        justify-content: center;
        border: 5px solid white;
}

/* drawing background*/
#label {
    background-color: #e29127;
    position: absolute;
    width: 76%;
    height: 14%;
    text-align: center;
    left: 11%;
    top: 1%;
    border-radius: 38px;
}
h2 {
    position: absolute;
    top: 23%;
    left: 32%;
    z-index: 2;
    color: white;
    font-size: 48px;
    font-family: 'Acme', sans-serif;
}
div#label2 {
    height: 83%;
    background-color: #e74d00;
    position: absolute;
    width: 79%;
    top: 12%;
    left: 12%;
    border-radius: 38px;
}
div#triangle {
    background-color: #e29127;
    height: 12%;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 10%;
}
.red {
    background-image: url(../img/background2.png);
    height: 57%;
    width: 102%;
    position: absolute;
    top: 21%;
    right: 0%;
    background-repeat: repeat-x;
}
#window {
    background-color: #7a97a1;
}
#home {
    background-color: #e9ac47;
    width: 100%;
    height: 148%;
    position: absolute;
    z-index: -55;
    top: 21%;
}
.curt {
    position: absolute;
    top: 38.1%;
    left: 48.5%;
    z-index: +3;
    transform: rotateY(180deg);
}

.curt2 {
    position: absolute;
    top: 38.1%;
    left: 1%;
    z-index: +3;
    
}


h3 {
    position: absolute;
    font-size: 30px;
    left: 76%;
    top: 46%;
}
#animate {
animation: move 1s ease-in-out 1s infinite alternate;
}
@keyframes move {
    0%{
        top: 47%;
    }
    100%{
        top: 45%;
    }
}


#door {
    position: absolute;
    left: 70%;
    top: 66.5%;
    height: 100%;
    width: 20%;
    /* transform: rotateY(180deg); */
    
}
.door {
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}


.doorOpen
{

  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(75deg);
}
.backdoor {
    background-color: #333333;
    width: 18%;
    height: 90%;
    position: absolute;
    top: 79%;
    left: 71%;
}
#homeIcon {
    width: 16%;
    height: 20%;
    position: absolute;
    top: 100%;
    left: 71%;
    z-index: 0;
}