
body {
    background-color:white;
}
main{
    background-color:bisque;
    width: 80%;
    margin: 10px auto;
}

#soapSales {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    /* border: 1px solid #ccc; */
   
}

.itemDiv{
    width: 45%;
    height: 350px;
    text-align: center;
    border: 5px double rgb(88, 88, 88);
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-radius: 30px; */
    
}
.itemDiv img{
    width: 60%;
    height: 70%;
    /* border: 0px solid white; */
    /* box-shadow: black; */
    /* border-radius: 40px;  */

}
.itemDiv:hover {
    border: 1px solid #777;
}

#soapSales h5 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: brown;
}